<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tahseen's TODO List</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script src="https://kit.fontawesome.com/b26c935939.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="app-background">
        <div class="todo-container">
            <div class="todo-header">
                <h2>TODO LIST</h2>
            </div>
            <div class="todo-list-background">
                <form class="todo-add-form" action="/" method="POST">
                    <input type="text" name="content" placeholder="Enter new task">
                    <button type="submit">Add</button>
                </form>
                <ul class="todo-list-item">
                    <%- body %>
                </ul>
            </div>
        </div>
    </div>
</body>

<footer>
    <p>
        Made by Tahseen - 2025
    </p>
</footer>
</html>