body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

.app-background {
  min-height: 100vh;
  background-image: linear-gradient(#A683E3, #1bbe72);
  justify-content: center;
  align-items: center;
  padding: 2em 3em;
  display: flex;
}

.todo-container {
  color: white;
  position: relative;
  margin: auto;
  padding: 20px;
  width: 680px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.todo-header {
  margin: 5px;
  font-family: 'Verdana', cursive;
  font-size: 2em;
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.todo-add-form {
  font-family: 'Verdana', cursive;
  padding: 7px;
  display: flex;
  align-items: center;
}

.todo-add-form input {
  font-size: 16px;
  height: 25px;
  border: none;
  border-radius: 7px;
  margin: 5px;
  padding: 8px 10px;
  width: 100%;
}

.todo-add-form button {
  font-family: 'Verdana', cursive;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background-color: #ffffff;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);

}

.todo-list-background {
  width: 75%;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
  word-wrap: break-word;
  padding-bottom: 15px;
}

.todo-list-item {
  overflow-y: hidden;
  margin: 10px 0px;
  padding: 10px;

}

.todo-list-item li {
  font-size: 16px; /* TODO: Make buttons independent of this size */
  padding: 10px;
  margin: 15px 0px;
  border: none;
  border-radius: 7px;
  background: rgba(0, 0, 10, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);

}

/* buttons at the end of line*/
.todo-list-item div {
  flex-grow: 1;
}

.delete {
  color: #de1e1e;
  margin: 7px;
  padding: 5px;
}

.edit-btn {
  color: #00ed11;
  margin: 7px;
  text-decoration: none;
}

.todo-edit-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap; /* This lets the cancel/save be on their own line*/
  justify-content: flex-end;
}

input:placeholder-shown {
  font-family: 'Verdana', cursive;
  font-style: italic;
}

.edit-input {
  padding: 8px 10px;
  margin: 5px;
  border-radius: 7px;
  font-size: 16px;
  border: none;
  width: -webkit-fill-available;
}

.save {
  font-size: 16px;
  font-family: 'Verdana', cursive;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 6px 8px;
  background-color: rgb(51, 212, 100);
  margin: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.cancel {
  font-size: 16px;
  font-family: 'Verdana', cursive;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 6px 8px;
  background-color: gray;
  margin: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  background: #1bbe72; /* Must match the end of the gradient */
  padding: 3px;
}
